<h1>Add Band</h1>

<form action="<%=bands_url%>", method="POST" >
  <label for="band_name">Band</label>
  <input id="band_name", name="band[name]", type="text">
  <input type="submit", value="Add Band">
</form>
