<h1>Sign Up<h1>

  <form action="<%= users_url %>", method="POST">
    <label for="user_email">Your Email</label>
    <input type="email" id="user_email" name="user[email]">
    <br/>
    <label for="password">Pasword</label>
    <input type="password" id="password" name="user[password]">
    <br/>
    <input type="submit" value="Sign Up">


  </form>
