<h1>Add Album</h1>

<form action="<%=albums_url%>", method="POST" >
  <label for="album_title">Album</label>
  <input id="album_title", name="album[title]", type="text">

  <label for="album_band">Select which band you would like to add this album to</label>
  <select name="album[band_id]">
    <% Band.all.each do |band| %>
      <option <%= "selected" if album.band_id == band.id %> value="<%= band.id %>" > <%= band.name %> </option>
    <% end %>

  </select>



  <input type="submit", value="Add Album">
</form>
